# libs default project python
pyperclip
pypiwin32
setuptools
wheel
requests
python-dotenv

# libs to use this template rpa-suite
rpa-suite
pyautogui
pillow
opencv-python
webdriver-manager
selenium

# linters and formatters
pylint
black
bandit
pre-commit


# others libs maybe you like
# pandas
# botcity-framework-core
# botcity-framework-web
# botcity-utils
