# libs to run this template
setuptools
wheel
rpa-suite
pyautogui
pillow
opencv-python
webdriver-manager
selenium
requests

# others libs from your project
# pandas
# botcity-framework-core
# botcity-framework-web
# botcity-utils
